#dog{
    position: fixed;
    left:1em;
    bottom:0;
}

img{
    max-width:33%;
    height: auto;   
    transition: transform 0.2s ease-in-out;
}

img:hover{
    transform:scale(1.1, 1.1);
    cursor:pointer;
}