#submit-button{
    background-color: var(--main-blue);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
}


#submit-button:hover{
    background-color: var(--main-blue);
    box-shadow: 0 3px 7px rgba(0,0,0,0.25), 0 2px 3px rgba(0,0,0,0.22);
}
.search-form-row{
    
    margin-top:1em;
}


.search-text-box{
    background-color: var(--secondary-bg-color);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:var(--secondary-text-color);
    border:none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    height:36px;
}


/**
 * Main wrapper
 */
 .select-search {
    width: 100%;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    color: var(--secondary-text-color);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

}

.select-search:hover {
    box-shadow: 0 3px 7px rgba(0,0,0,0.25), 0 2px 3px rgba(0,0,0,0.22);

}

.select-search *,
.select-search *::after,
.select-search *::before {
    box-sizing: inherit;
    color: var(--secondary-text-color);

}

/**
 * Value wrapper
 */
.select-search__value {
    position: relative;
    z-index: 1;
    color: var(--secondary-text-color);
    

}

.select-search__value::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(50% - 9px);
    right: 19px;
    width: 11px;
    height: 11px;
    color: var(--secondary-text-color);
}

/**
 * Input
 */
.select-search__input {
    display: block;
    height: 36px;
    width: 100%;
    padding: 0 16px;
    background: var(--secondary-bg-color);
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    line-height: 36px;
    -webkit-appearance: none;
    color: var(--secondary-text-color);
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
    -webkit-appearance:none;
    padding:none;
    margin:none;
    color: var(--secondary-text-color);
}

.select-search__input:not([readonly]):focus {
    cursor: initial;
    color: var(--secondary-text-color);
}

/**
 * Options wrapper
 */
.select-search__select {
    color: var(--secondary-text-color);
}

/**
 * Options
 */
.select-search__options {
    list-style: none;
    padding:0;
    border-radius: 1em;
    box-shadow: 0 4px 7px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);

}

/**
 * Option row
 */
.select-search__row:not(:first-child) {
    padding: 0;
    margin:0;
}

/**
 * Option
 */
.select-search__option,
.select-search__not-found {
    display: block;
    height: 36px;
    width: 100%;
    padding: 0 1em;
    background: var(--secondary-bg-color);
    border: none;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    color: var(--secondary-text-color);

    /*for smooth color changes on hover*/
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.select-search--multiple .select-search__option {
    height: 48px;
}

.select-search__option.is-selected {
    background: var(--secondary-text-color);
    color: var(--secondary-bg-color);
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
    background: var(--secondary-text-color);
    color: var(--secondary-bg-color);
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
    background: var(--secondary-text-color);
    color: var(--secondary-bg-color);
}

/**
 * Group
 */
.select-search__group-header {
    font-size: 10px;
    text-transform: uppercase;
    background: var(--secondary-bg-color);
    padding: 8px 16px;
}

/**
 * States
 */
.select-search.is-disabled {
    opacity: 0.5;
    color: var(--main-text-color);
}

.select-search.is-loading .select-search__value::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
    background-size: 11px;
    color: var(--main-text-color);
}

.select-search:not(.is-disabled) .select-search__input {
    cursor: pointer;
    color: var(--secondary-text-color);
}

/**
 * Modifiers
 */
.select-search--multiple {
    border-radius: 3px;
    overflow: hidden;
}

.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
    transform: rotate(45deg);
    border-right: 1px solid var(--secondary-text-color);
    border-bottom: 1px solid var(--secondary-text-color);
    pointer-events: none;
}

.select-search--multiple .select-search__input {
    cursor: initial;
    color: var(--secondary-text-color);
}

.select-search--multiple .select-search__input {
    border-radius: 3px 3px 0 0;
    
   color: var(--secondary-text-color);
}

.select-search--multiple:not(.select-search--search) .select-search__input {
    cursor: default;
    
   color: var(--secondary-text-color);
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
   /*none lmao*/
   color: var(--secondary-text-color);
}


.select-search:not(.select-search--multiple) .select-search__select {
    position: absolute;
    z-index: 2;
    top: 44px;
    right: 0;
    left: 0;
    border-radius: 3px;
    overflow: auto;
    max-height: 360px;
}

.select-search--multiple .select-search__select {
    position: relative;
    overflow: auto;
    max-height: 260px;
    border-top: 1px solid var(--secondary-bg-color);
    border-radius: 0 0 3px 3px;
}

.select-search__not-found {
    height: auto;
    padding: 16px;
    text-align: center;
    color: var(--secondary-text-color);
}
/*adds top and bottom margin to each input when less than tablet size*/
@media only screen and (max-width: 720px) {
    .col{
        margin-top:0.5em;
        margin-bottom:0.5em;
    }
    .row{
        margin-top:0;
        margin-bottom:0;
    }
}